<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nextfaze.devfun.core">

    <application>
        <provider
                android:name=".DevFunInitializerProvider"
                android:authorities="${applicationId}.com.nextfaze.devfun.core.DevFunInitializerProvider"
                android:exported="false"/>
    </application>

</manifest>
